@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  font-family: inherit;
}

.spot-marker {
  background: none !important;
  border: none !important;
}
